.book-card {
  border: 1px solid gray;
  border-radius: 3px;
  max-width: 280px;
  padding: 1rem 0.8rem;
}

.book-card p {
  margin: 0.6rem 0;
}

.book-card h3 {
  font-size: 1.25rem;
  line-height: 1.1;
}

.book-details {
  font-size: 0.875rem;
}

.book-cover img {
  border-radius: 0 6px 6px 0;
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.04),
    7px 7px 8px rgba(0, 0, 0, 0.08);
}

.book-cover {
  position: relative;
}

.book-cover::after {
  position: absolute;
  width: 4px;
  height: 100%;
  content: "";
  left: 0;
  backdrop-filter: brightness(107%);
}
