.book-card {
  border-radius: 3px;
  background-color: white;
  width: 260px;
  padding: 1.2rem 1rem;
  display: grid;
}

.book-card h3 {
  font-size: 1.25rem;
  line-height: 1.1;
}

.book-info p {
  margin-top: 0.6rem;
  line-height: 1;
}

.book-info p + p {
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}

.book-details {
  font-size: 0.875rem;
}

.book-cover img {
  border-radius: 0 6px 6px 0;
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.04),
    7px 7px 8px rgba(0, 0, 0, 0.08);
}

.book-cover {
  position: relative;
  align-self: self-end;
}

.book-cover::after {
  position: absolute;
  width: 4px;
  height: 100%;
  content: "";
  left: 0;
  backdrop-filter: brightness(107%);
}
