:root {
  --card-background: #3b4048;
  --background: #222831;
  --foreground: #fcfcfc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
